

<!DOCTYPE html>
<html lang="fr">
    <head>

        {% include "components/head.html" %}
        {% block extra_css %}
        
        
        {% endblock  %}

    </head>
<body class="d-flex flex-column min-vh-100">
    {% include 'components/header_page.html' %}

    <main class="flex-grow-1">
        {% block content %}{% endblock %}
    </main>

    {% include 'base/footer.html' %}

    
    {% include "components/foot_script.html" %}
    {% block extra_js %}{% endblock %}
</body>
</html>

