<!-- templates/dashboard/base.html -->
{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="fr">
<head>
    
    <title>Dashboard - {% block title %}{% endblock %} </title>
    
    
    <!-- Tailwind CSS -->
    {% include "components/head.html" %}
    
   
    <!-- Alpine.js -->
    
    {% block extra_css %}
        
        
    {% endblock  %}
</head>
<body class="bg-lighter-bg">
    <div class="flex h-screen bg-gray-100">
        <!-- Sidebar -->
      <aside class="w-64 bg-gray-800 text-white bg-white z-2">
        {% include 'dashboard/components/sidbar_dashboard.html' %}
      </aside>
        <div class="flex-1 flex flex-col overflow-hidden">
            <!-- Top Navigation Bar -->
             <header class="bg-white shadow z-1" style="margin-left: 250px; width: calc(100% - 250px); position: fixed;">
                {% include 'dashboard/components/topnav.html' %}

            </header>
            <main class="flex-1 overflow-x-hidden overflow-y-auto bg-gray-100 p-6">
                        {% block content %}

                        {% endblock %} 
            </main>                     
        </div>
   </div>
    <!-- Bootstrap JS e dependências necessárias -->
    
    {% include "components/foot_script.html" %}
    {% block extra_js %}
    
    {% endblock %}
</body>
</html>