{% load static %}
{% load i18n %}

<section class="hero-banner ">
    <div class="container">
        <div class="row align-items-center ">
            <div class="col-lg-6 z-1">
                <h1 class="display-4 fw-bold mb-3 ">Transformez votre espace avec <span class="te">Lopes Peinture</span></h1>
                <p class="lead mb-4">Des solutions de peinture professionnelles pour votre maison et votre entreprise</p>
                <a href="{% url 'create_quote' %}" class="btn btn-primary btn-lg">Demandez un devis gratuit</a>
            </div>
            <div class="col-lg-6">

            </div>
        </div>
    </div>
</section>