{% comment %}
Uso: {% include 'components/card.html' with title="Título" content="Conteúdo" image_url="url_da_imagem" %}
{% endcomment %}

<div class="card mb-4">
    {% if image_url %}
        <img src="{{ image_url }}" class="card-img-top" alt="{{ title }}">
    {% endif %}
    <div class="card-body">
        <h5 class="card-title">{{ title }}</h5>
        <p class="card-text">{{ content }}</p>
        {% if button_text and button_url %}
            <a href="{{ button_url }}" class="btn btn-primary">{{ button_text }}</a>
        {% endif %}
    </div>
</div>